*,
*::before,
*::after {
    -webkit-touch-callout:none; /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
    /*所有的标签和伪元素都选中*/
    margin: 0;
    padding: 0;
    /*移动端常用布局是非固定像素布局*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*点击高亮效果清除*/
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
    /*不允许改变尺寸*/
    resize: none;
    /*元素的外观 none没有任何样式*/
    -webkit-appearance: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #13172f;
    height: 55px;
    overflow: hidden;
    z-index: 10;
}

nav {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 55px;
}

nav span, nav a {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}

nav span {
    color: #ffffff;
}

nav a {
    color: #9d9d9d;
}

nav a:hover {
    color: #fff;
}


nav button {
    padding-right: 10px;
    padding-left: 10px;
    height: 50px;
    border-radius: 4px;
    border-color: #333;
    background-color: transparent;
    font-size: 25px;
    color: #9d9d9d;
    display: none;
    margin-top: 2px
}


nav ul {
    float: right;
    height: 55px;
}

nav ul li {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

@media screen and (min-width: 960px) {
    header {
    }

    nav {
        width: 960px;
    }
}

@media screen and (max-width: 960px) {
    nav {
        width: 100%;
        text-align: center;
    }

    nav ul {
        display: none;
    }
}


#container {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 55px;
    overflow: hidden;
}

.map {
    height: 100%;
}


#tool {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 3rem;
    background-color: transparent;
}

#tool button {
    background-color: #13172f;
    color: #9d9d9d;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}

#tool button:hover {
    color: #fff;
}

#tool button.active {
    border: 4px solid rgba(255, 255, 255, .2);
    color: #fff;
}

#content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 1rem 1rem 0 1rem;
}

#content textarea {
    resize: none;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: bolder;
    padding: .5rem;
    line-height: 1.5rem;
}

#content textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

}

#content button {
    background-color: #13172f;
    color: #9d9d9d;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-size: 1rem;
    border: 4px solid transparent;
}

#content button:hover {
    color: #ffffff;
}

#content button:focus {
    color: #fff;
    border-color: rgba(255, 255, 255, .2);
}
